<nav class="container">
	<div class="center">
	<a routerLink="/" 
	routerLinkActive="active"
	[routerLinkActiveOptions]="{exact: true}">home</a>
	</div>
	<div class="center" *ngIf="Categories$ | async as categories" >
	<a 
	[routerLink]="['/category', category.name ]" 
	*ngFor="let category of categories"
	routerLinkActive="active">
	{{category.name}}
	</a>
	</div>
	<div class="center">
	<a routerLink="/createarticle" routerLinkActive="active" *ngIf="isLogin">Create Article</a>
	</div>

	<div class="right">
	<a routerLink="/login" routerLinkActive="active" *ngIf="!isLogin">Login</a>
	<a routerLink="/register" routerLinkActive="active" *ngIf="!isLogin">Register</a>
	
	<a routerLink="/user" routerLinkActive="active" *ngIf="isLogin">
	<div *ngIf="User$ | async as user">
	{{user?.email}}
	</div>
	<!-- <ng-template #loading><app-spinnerloading></app-spinnerloading></ng-template>	 -->
	</a>

	<a routerLink="/" (click)="logout()" *ngIf="isLogin"> logout </a>
	</div>


</nav>
