<div  class="section-login">

    <h3 class="heading">Sign In:</h3>

    <form [formGroup]="Form" (ngSubmit)="onSubmit()" class="form">

    	<!-- pattern="[a-zA-Z ]*"" -->
      <div class="form-group">
        <label >Email:</label>
        <input type="text"   name="email" class="form-control" placeholder="Type your email" formControlName="email" required>
        <span *ngIf="!Form.get('email').valid && Form.get('email').touched"
        class="help-block  alert-danger">
          Email is not validated!!!
        </span>
      </div>
      <div class="form-group">
        <label >Password:</label>
        <input  type="password" name="password" class="form-control" placeholder="Set password" formControlName="password" required>
        <span *ngIf="!Form.get('password').valid && Form.get('password').touched"
        class="help-block  alert-danger">
         	Password is not validated!!!
        </span>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!Form.valid"> 
        Send
      </button>
      <div *ngIf="Error$ | async as error" class="alert alert-danger">
        {{error}}
      </div>
    </form>
    <br>

</div>
