<div class="section-article" *ngIf="Article$ | async as article">
    
  <h3>Editing the Article: {{article?.name}}</h3>

    <form [formGroup]="Form" (ngSubmit)="onSubmit()" class="form">

       <div class="form-group">
      	<label >Name:</label>
        <input type="text"  name="name" class="form-control" placeholder="Type your name" formControlName="name" required>
        <span *ngIf="!Form.get('name').valid && Form.get('name').touched"
        class="help-block  alert-danger">
          Name is not validated!!!
        </span>
      </div>
      
      <div class="form-group">
        <label >Description:</label>
        <input  type="text" name="description" class="form-control" placeholder="Set a description" formControlName="description" required>
        <span *ngIf="!Form.get('description').valid && Form.get('description').touched"
        class="help-block  alert-danger">
         	Description is not validated!!!
        </span>
      </div>

      <div class="form-group">        
        <label >Price:</label>
        <input type="text"   name="price" class="form-control" placeholder="Type your price" formControlName="price" required>
        <span *ngIf="!Form.get('price').valid && Form.get('price').touched"
        class="help-block  alert-danger">
          Price is not validated!!!
        </span>
      </div>

        <div class="form-group" *ngIf="Categories$ | async as categories">
        <label >Category:</label>
        <select placeholder="Select a category" formControlName="category_id">
          <option disabled>Select a category</option>
          <option *ngFor="let category of categories" value="{{category.id}}" >{{category.name}}</option>
        </select>
        </div>

      <button type="submit" class="btn btn-primary" [disabled]="!Form.valid"> 
        Edit
      </button>
      <button class="btn btn-primary" (click)="onBack()"> 
        Back
      </button>
      <!-- <div *ngIf="error" class="alert alert-danger">
        {{error}}
      </div>
      <div *ngIf="isRegister" class="alert alert-success">
        You registered successfully!!! Go to <strong>Login</strong>
      </div> -->
    </form>
    <br>
</div>
