<div *ngIf="!isLoading">

	<h1 *ngIf="path===undefined" class="heading">List of Articles</h1>
	<h1 *ngIf="path" class="heading">List of {{path}} Articles</h1>
	
	<div *ngIf="(Articles$ | async) as articles">
	<div class="container">
		<ul *ngFor="let article of articles ">
			<div class="grid__item">
				<li class="item">Name: {{article.name}}</li>
				<li class="item">description: {{article.description}}</li>
				<li class="item">Price: {{article.price}}</li>
				<li class="item">Category: {{article.category_id}}</li>
				<!-- <li *ngIf="article.category_id === category.id ">Category: {{article.category_id}}</li> -->
				<!-- <li class="item" *ngFor="let category of categories">
					<span *ngIf="article.category_id === category.id">Category: {{category.name}}</span>
				</li> -->
				<button class="btn btn-primary">Buy Item</button>
			</div>
		</ul>
	</div>
	</div>
</div>

<div *ngIf="isLoading">
<app-spinnerloading> </app-spinnerloading>	
</div>
