.section-register {
	/*padding: 25px 100px;*/
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.section-register h3 {
	font-size: 3rem;
	margin-bottom: 1rem;
}


.form {
	width: 650px;
	height: 420px;
	border-radius: 2rem;
	background-color: #f1f2f6;
	box-shadow: 5px 3px #00000033;
}

.form-group {
	width: 100%;
	padding: 1rem 1rem;
}

.form-group label {
	width: 25%;
	float: left;
}

.form-control {
	width: 75%;
	float: right;
}

